body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(to right, #0e0e0e, #00a9ff);
    color: #fff;
}

header {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}

header h1 i {
    margin-right: 10px;
}

main {
    flex: 1;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: fadeIn 2s ease-in-out;
}

.description, .download {
    margin-bottom: 20px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    width: 100%;
    max-width: 600px;
}

.description:hover, .download:hover {
    transform: scale(1.01);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.download {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    background-color: #ffffff;
    color: #00a9ff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px; /* Добавлено чтобы кнопка была сразу под заголовком */
}

button i {
    margin-right: 10px;
}

button:hover {
    background-color: #f1f1f1;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

footer {
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 10px;
    color: #ffffff;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
